html,
body {
  height: 100%;
  background-color: #233;
  text-shadow: -1px 1px 3px rgba(142, 150, 150, .2);
}
body {
  color: #fff;
  text-align: center;
}

.card {
  background-color: transparent;
}

#profRow {
  margin: auto;
  text-align: center
}



.btn {
  margin: 3px;
  color: white;
}

#landingRow{
  display:block;
}

#btn3 {
  background-color: #00325C;
  border-color: #00325C;
}

.jumbotron {
  text-align: center;
  background: transparent;
}

.list-group-item {
  text-align: center;
}

#navbar {
  margin-bottom: 50px;
}

#botnav {
  margin: 20px;
}

#crumb {
  width: 350px;
  display: block;
  background-color: transparent;
}

.tawg {
  color: purple;
}

#icon {
  text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(49, 121, 171) 1px 1px 0px, rgb(51, 126, 177) 2px 2px 0px, rgb(53, 131, 184) 3px 3px 0px, rgb(55, 135, 190) 4px 4px 0px, rgb(57, 140, 197) 5px 5px 0px, rgb(59, 144, 203) 6px 6px 0px, rgb(61, 149, 209) 7px 7px 0px, rgb(62, 153, 216) 8px 8px 0px, rgb(64, 158, 222) 9px 9px 0px, rgb(66, 162, 229) 10px 10px 0px; font-size: 85px; color: rgb(255, 255, 255); height: 141px; width: 141px; line-height: 141px; border-radius: 41%; text-align: center; background-color: rgb(68, 167, 235)
}

#gameImg {
  max-width: 75%;
  max-height: 75%;
  margin-top: 10px;
  border-radius: 15px;
  background: transparent;
}

#dexList {
  padding-bottom: 20px;
  padding-top: 30px;
  
}

#dexList:hover {
    border: 2px solid black;
    margin: -2px;
    border-radius: 10px;
}

#commentDate {
  font-size: 14px;
  
}

#commentText {
  background-color: rgba(55,95,25,.1);
  margin: auto;
}

#addComment {
  margin: auto;
  display: block;
  width: 15%;
  margin-bottom: 25px;
}

h2 {
  text-align: center;
}

#requestBtn {
  margin-left: auto;
}

#showSel li {
  background: transparent;
  margin: 5px;
  text-align: center;
}

/*ACCOUNT PAGE */

#userTeam {
  text-align: center;
  padding-top: 5px;
}

h3 {
  margin-top: -5px;
  margin-left: auto;
  text-align: center;
}

#accountCard {
  max-width: 25%
}

