body {
  font-family: 'Volkhov', serif;
}

#botnav {
  margin: 20px;
}

.tawg {
  color: purple;
}

img {
  height: 30%;
  width: 30%;
  margin-top: 10px;
  border-radius: 15px;
}

#dexList {
  padding-bottom: 20px;
  padding-top: 30px;
  
}

#dexList:hover {
    border: 2px solid black;
    margin: -2px;
    border-radius: 10px;
}

#commentDate {
  font-size: 14px;
  
}

#commentText {
  background-color: rgba(55,95,25,.1);
  border-radius: 99%;
}

#addComment {
  margin: auto;
  display: block;
  width: 15%;
}